node_modules
.next
out
dist
.turbo
.vercel

.env
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev.out.log
dev.err.log
*.tsbuildinfo

.chrome-profile
.chrome-shot-profile
.edge-profile

.DS_Store
Thumbs.db
